@charset "utf-8";
@import url('reset.css');
@import url('sub.css');
@import url('common.css');
.xet-section{max-width:980px;padding:0 10px;margin:50px auto;}
::selection{color:#fff;background-color:#ef858b;}
::-moz-selection{color:#fff;background-color:#ef858b;}
.show1220,
.show768,
.show486{display:none !important;}
.rad{font-family:'Rajdhani' !important;}
.pink{color:#ef858b !important;}
.tl-50{position:absolute;left:50%;top:50%;transform:translate(-50%, -50%);-moz-transform:translate(-50%, -50%);-webkit-transform:translate(-50%, -50%);-o-transform:translate(-50%, -50%);}
.tly-50{position:absolute;top:50%;width:100%;transform:translateY(-50%);-moz-transform:translateY(-50%);-webkit-transform:translateY(-50%);-o-transform:translateY(-50%);}
.tlx-50{position:absolute;left:50%;transform:translateX(-50%);-moz-transform:translateX(-50%);-webkit-transform:translateX(-50%);-o-transform:translateX(-50%);}
.preload{display:none;}
.ita{font-style:italic !important;}
.tdu{text-decoration:underline !important;}
.tac{text-align:center !important;}
.justi{text-align:justify;}
.w1050{max-width:1070px;margin:0 auto;padding:0 10px;}
/* main */
#mv .visual{position:relative;}
#mv .visual .bg{height:0;padding-bottom:980px;background-position:50% 50%;background-repeat:no-repeat;background-size:cover;text-indent:-9999px;}
#mv .visual .inner{position:absolute;left:0;top:20%;width:100%;}
#mv .visual .w1200{font-size:0;}
#mv .visual .txt_area{display:inline-block;vertical-align:text-top;text-align:center;}
#mv .visual .tit_wrap{margin-bottom:45px;}
#mv .visual .tit_wrap .tit{position:relative;padding:25px 25px 0;font-weight:100;line-height:1.38;letter-spacing:-2px;}
#mv .visual .tit_wrap .tit:before,
#mv .visual .tit_wrap .tit:after{content:"";position:absolute;top:0;display:block;width:38px;height:58px;background-position:0;background-size:cover;background-repeat:no-repeat;}
#mv .visual .tit_wrap .tit:before{left:0;background-image:url('../img/mv111.png');}
#mv .visual .tit_wrap .tit:after{right:0;background-image:url('../img/mv112.png');}
#mv .visual .tit_wrap .tit em{position:relative;display:block;z-index:20;}
#mv .visual .tit_wrap .tit strong{font-weight:700;}
#mv .visual .txt_wrap .txt{color:#757575;font-weight:300;line-height:1.4;}
.m_tit_wrap{padding:0 30px;font-size:0;}
.m_tit_wrap .tit{position:relative;display:inline-block;margin-bottom:22px;padding:35px 0 0;font-weight:700;line-height:1.2;}
.m_tit_wrap .tit:before{content:"";position:absolute;left:-30px;top:0;display:block;width:41px;height:63px;background:url('../img/m22.png') 0 0 no-repeat;}
.m_tit_wrap .tit span{position:relative;}
.m_tit_wrap .tit em{font-weight:100;}
.m_tit_wrap .txt{font-weight:300;line-height:1.4;}
.m_tit_wrap2{text-align:right;margin-bottom:170px;}
.m_tit_wrap2 .tit:before{left:auto;right:-30px;background-image:url('../img/m312.png');}
.m_tit_wrap3{color:#fff;}
.m_tit_wrap3 .tit:before{background-image:url('../img/m411.png');}
.m1{position:relative;}
.m1 .bg{position:absolute;left:0;top:0;width:100%;height:100%;background:url('../img/m11.jpg') 50% 50% no-repeat;background-size:cover;text-indent:-9999px;}
.m1 .wrap{position:relative;padding:210px 0 140px;}
.m1 .wrap .con{text-align:right;font-size:0;}
.m1 .wrap .txt_wrap{display:inline-block;text-align:left;}
.m1 .wrap .txt_wrap .tit{margin-bottom:45px;font-weight:100;line-height:1.26;letter-spacing:-2px;}
.m1 .wrap .txt_wrap .tit strong{font-weight:600;}
.m1 .wrap .txt_wrap .txt{margin-bottom:16px;font-weight:300;line-height:1.57;letter-spacing:-1px;}
.m1 .wrap .txt_wrap .name{margin-top:50px;text-align:right;}
.p200{padding:200px 0;}
.m2{position:relative;background-color:#ef858b;color:#fff;}
.m2 .wrap{text-align:center;font-size:0;margin:0 -20px -105px;}
.m2 .wrap .con{position:relative;display:inline-block;width:25%;padding:0 20px 105px;vertical-align:text-top;z-index:30;}
.m2 .wrap .ico{margin-bottom:15px;}
.m2 .wrap .txt_wrap .txt{line-height:1.4;font-weight:400;}
.m2 .bot_img{position:absolute;left:0;bottom:0;width:100%;text-align:right;padding:0 60px;}
.m3{position:relative;}
.m3 .top_img{position:absolute;left:0;top:0;width:100%;text-align:left;}
.m3 .wrap{position:relative;}
.m3 .wrap .con{position:relative;}
.m3 .wrap .thumb{position:absolute;right:20px;bottom:-259px;width:70%;text-align: right;}
.m3 .wrap .name_wrap .tit{margin-bottom:20px;font-weight:400;}
.m3 .wrap .name_wrap .name{font-weight:300;}
.m3 .wrap .name_wrap .name strong{font-weight:700;}
.m3 .wrap .txt_wrap{font-size:0;margin:0 -55px 0 0;}
.m3 .wrap .txt_wrap .txt_con{display:inline-block;padding:0 55px 0 0;vertical-align:text-top;}
.m3 .wrap .txt_wrap .txt{margin-top:35px;font-weight:300;line-height:2;}
.m_slide{padding:150px 0 200px;background:url('../img/m41.jpg') 50% 50% no-repeat;background-size:cover;}
.m_slide .wrap .nav .dep1_wrap{font-size:0;margin:0 -5px -6px 0;}
.m_slide .wrap .nav .dep1_con{display:inline-block;width:25%;padding:0 5px 6px 0;overflow:hidden;}
.m_slide .wrap .nav .dep1{position:relative;display:block;height:0;padding-bottom:66.8%;background-position:50% 50%;background-repeat:no-repeat;background-size:cover;text-indent:-9999px;}
.m_slide .wrap .nav .dep1:before{content:"";position:absolute;left:0;top:0;display:block;width:100%;height:100%;border:1px solid transparent;transition:.25s;}
.m_slide .wrap .nav .dep1_con .dep1.active:before,
.m_slide .wrap .nav .dep1_con .dep1:hover:before{border-color:#ef858b;}
.m_slide .wrap #slide_wrap{padding:0 109px;}
.m_slide .wrap .bx-wrapper .bx-pager{display:none;}
.m_slide .wrap .bx-wrapper .bx-controls-direction a{top:0;margin-top:0;width:109px;height:100%;}
.m_slide .wrap .bx-wrapper .bx-controls-direction a.bx-prev{left:-109px;background:url('../img/m_slide_prev.png') 50% 50% no-repeat;}
.m_slide .wrap .bx-wrapper .bx-controls-direction a.bx-next{right:-109px;background:url('../img/m_slide_next.png') 50% 50% no-repeat;}
.m_slide .wrap #slide_wrap .img{text-align:center;}
.m_slide .wrap #slide_wrap .img img{display:inline;}
.m5{position:relative;}
.m5 .area{position:relative;font-size:0;text-align:right;z-index:20;}
.m5 .area .left{text-align:left;}
.m5 .area .left .tly-50{text-align:left;}
.m5 .area .m_tit_wrap{padding:0;}
.m5 .area .m_tit_wrap .tit{padding:30px 30px 0 0;}
.m5 .area .m_tit_wrap .tit:before{left:auto;right:0;background-image:url('../img/m511.png');}
.m5 .area .right{position:relative;display:inline-block;width:100%;max-width:435px;text-align:center;}
.m5 .area .wrap{letter-spacing:-1px;color:#757575;}
.m5 .area .con{padding:20px 0;margin-bottom:26px;border:1px solid #e0e0e0;border-radius:50px;-moz-border-radius:50px;-webkit-border-radius:50px;-o-border-radius:50px;background-color:#fff;}
.m5 .area .con:last-child{margin-bottom:0 !important;}
.m5 .area .inner{font-size:0;margin:0 -10px;}
.m5 .area .tit_wrap{display:inline-block;min-width:129px;vertical-align:text-top;padding:0 10px;font-size:0;}
.m5 .area .tit_wrap .tit{display:inline-block;vertical-align:text-top;text-align:center;font-weight:500;}
.m5 .area .tit_wrap .tit:first-child{text-align:left;}
.m5 .area .tit_wrap .tit:last-child{text-align:right;}
.m5 .area .tit_wrap2 .tit{width:50%;}
.m5 .area .tit_wrap3 .tit{width:33.33%;}
.m5 .area .tit_wrap4 .tit{width:25%;}
.m5 .area .txt_wrap{display:inline-block;vertical-align:bottom;padding:0 10px;}
.m5 .area .txt_wrap .txt{font-weight:500;}
.m5 .area .txt_wrap .txt span{font-weight:300;}
.m5 .area .txt_wrap .txt em{font-weight:300;margin:0 15px;}
.m5 .area .txt_wrap .txt .m0{margin:0 !important;}
.m5 .bot_img_wrap{position:absolute;left:0;bottom:0;width:100%;}
.m5 .bot_img_wrap .img{max-width:1620px;margin:0 auto;padding:0 10px;}
.m6{margin-bottom:200px;}
.m6 .wrap{padding:150px 0 50px;background-color:#ef858b;color:#fff;}
.m6 .wrap .txt_wrap{position:relative;padding-right:430px;}
.m6 .wrap .txt_wrap .addr{font-weight:300;line-height:1.4;}
.m6 .wrap .txt_wrap .addr strong{font-weight:500;}
.m6 .wrap .txt_wrap .txt{font-weight:100;line-height:1.4;}
.m6 .wrap .txt_wrap .txt_con{position:absolute;right:0;top:0;width:420px;height:60px;border:1px solid #fff;border-radius:50px;-moz-border-radius:50px;-webkit-border-radius:50px;-o-border-radius:50px;text-align:center;font-size:0;}
.m6 .wrap .txt_wrap .tit{display:inline-block;line-height:58px;vertical-align:text-top;font-weight:500;margin-right:15px;}
.m6 .wrap .txt_wrap .num{display:inline-block;line-height:58px;vertical-align:text-top;font-weight:800;letter-spacing:-1px;}
.m6 .wrap2{position:relative;}
.m6 .wrap2:before{content:"";position:absolute;left:0;top:0;display:block;width:100%;height:42.22%;background-color:#ef858b;}
.m6 .wrap2 .con{position:relative;height:0;padding-bottom:37.5%;}
.m6 .wrap2 .con #map{position:absolute;left:0;top:0;width:100%;height:100%;}
.m6 .wrap3{text-align:center;font-size:0;border:1px solid #d9d9d9;border-right:0;color:#212121;}
.m6 .wrap3 .con{display:inline-block;width:33.33%;vertical-align:text-top;border-right:1px solid #d9d9d9;}
.m6 .wrap3 .inner{padding:30px 10px;}
.m6 .wrap3 .ico{margin-bottom:18px;}
.m6 .wrap3 .tit_wrap{max-width:200px;padding-bottom:22px;margin:0 auto 30px;border-bottom:1px solid #d9d9d9;}
.m6 .wrap3 .tit_wrap .tit{font-weight:300;}
.m6 .wrap3 .tit_wrap .tit strong{font-weight:500;}
.m6 .wrap3 .txt_wrap{min-height:108px;}
.m6 .wrap3 .txt_wrap .txt{line-height:1.75;font-weight:300;}
.m6 .wrap3 .txt_wrap .txt .ban{display:inline-block;height:25px;line-height:25px;padding:0 8px;margin-right:8px;background-color:#fcbd26;color:#fff;border-radius:50px;-moz-border-radius:50px;-webkit-border-radius:50px;-o-border-radius:50px;font-weight:500;vertical-align:middle;}
.m6 .wrap3 .txt_wrap .txt strong{font-weight:500;}
.m6 .wrap3 .txt_wrap .refer{margin-top:8px;font-weight:300;}
.m6 .wrap3 .txt_wrap .refer strong{font-weight:500;}
.m6 .wrap4 .btn_wrap{text-align:right;font-size:0;margin:0 -9px;}
.m6 .wrap4 .btn_wrap .btn{display:inline-block;width:180px;height:60px;line-height:58px;margin:0 9px;border:1px solid #d9d9d9;text-align:center;border-radius:50px;-moz-border-radius:50px;-webkit-border-radius:50px;-o-border-radius:50px;color:#628dfe;font-weight:300;transition:.25s;}
.m6 .wrap4 .btn_wrap .btn:last-child{color:#00bd39;}
.m6 .wrap4 .btn_wrap .btn:hover{color:#fff;border-color:#628dfe;background-color:#628dfe;}
.m6 .wrap4 .btn_wrap .btn:last-child:hover{border-color:#00bd39;background-color:#00bd39;}
.m6 .wrap4 .btn_wrap .btn strong{font-weight:600;}

@media all and (max-width:1220px){
	.show1220{display:block !important;}
	.none1220{display:none !important;}
	#mv .visual .bg{padding-bottom:81.6%;}
	#mv .visual .inner{top:15%;}
	#mv .visual .tit_wrap{margin-bottom:20px;}
	.m_tit_wrap{text-align:center;padding:0;}
	.m_tit_wrap .tit{padding:30px 30px 0 !important;}
	.m_tit_wrap .tit:before{left:0;}
	.m_tit_wrap2{margin-bottom:50px;}
	.m_tit_wrap2 .tit:before{left:auto;right:0;}
	.m1{position:relative;}
	.m1 .bg{position:relative;height:0;padding-bottom:84.5%;background-position:0 50%;}
	.m1 .wrap{padding:50px 0;background-color:#f5f5f5;}
	.m1 .wrap .con{text-align:center;}
	.m1 .wrap .txt_wrap{text-align:center;}
	.m1 .wrap .txt_wrap .tit{margin-bottom:20px;}
	.m1 .wrap .txt_wrap .txt{margin-bottom:10px;}
	.m1 .wrap .txt_wrap .name{margin-top:30px;}
	.p200{padding:150px 0;}
	.m2 .wrap{margin:0 -20px -50px;}
	.m2 .wrap .con{padding:0 20px 50px;}
	.m2 .wrap .ico{margin-bottom:10px;}
	.m2 .bot_img{padding:0 10px;}
	.m2 .bot_img img{max-width:40%;}
	.m3 .wrap{text-align:center;}
	.m3 .wrap .thumb{position:relative;bottom:0;right:0;width:100%;max-width:420px;margin:0 auto 15px;background-color:#f4f4f4;border:1px solid #cdcdcd;padding:30px 10px 0;}
	.m3 .wrap .name_wrap .tit{margin-bottom:5px;}
	.m3 .wrap .txt_wrap{margin:0;}
	.m3 .wrap .txt_wrap .txt_con{display:block;padding:0;}
	.m3 .wrap .txt_wrap .txt{margin-top:0;}
	.m_slide{padding:80px 0 120px;}
	.m_slide .wrap .nav .dep1_wrap{margin:0 -1px -2px;}
	.m_slide .wrap .nav .dep1_con{padding:0 1px 2px;}
	.m_slide .wrap #slide_wrap{padding:0 60px;}
	.m_slide .wrap .bx-wrapper .bx-controls-direction a{width:60px;}
	.m_slide .wrap .bx-wrapper .bx-controls-direction a.bx-prev{left:-60px;background-size:30px;}
	.m_slide .wrap .bx-wrapper .bx-controls-direction a.bx-next{right:-60px;background-size:30px;}
	.m5 .area{text-align:center;}
	.m5 .area .left .tly-50{position:relative;top:0;transform:translateY(0);-moz-transform:translateY(0);-webkit-transform:translateY(0);-o-transform:translateY(0);}
	.m5 .area .con{padding:15px 0;margin-bottom:13px;}
	.m5 .area .inner{margin:0 -5px;}
	.m5 .area .tit_wrap{min-width:110px;padding:0 5px;}
	.m5 .area .txt_wrap{padding:0 5px;}
	.m5 .area .txt_wrap .txt em{margin:0 5px;}
	.m6{margin-bottom:120px;}
	.m6 .wrap{padding:100px 0 30px;}
	.m6 .wrap .txt_wrap{text-align:center;padding-right:0;font-size:0;}
	.m6 .wrap .txt_wrap .txt_con{position:relative;display:inline-block;width:auto;margin:15px auto 0;padding:0 20px;height:40px;}
	.m6 .wrap .txt_wrap .tit{line-height:38px;margin-right:10px;}
	.m6 .wrap .txt_wrap .num{line-height:38px;}
	.m6 .wrap2 .con{padding-bottom:56.25%;}
	.m6 .wrap3 .inner{padding:20px 10px;}
	.m6 .wrap3 .ico{margin-bottom:10px;}
	.m6 .wrap3 .tit_wrap{padding-bottom:15px;margin-bottom:20px;}
	.m6 .wrap3 .txt_wrap .txt .ban{height:20px;line-height:20px;padding:0 5px;margin-right:4px;}
	.m6 .wrap3 .txt_wrap .refer{margin-top:4px;}
	.m6 .wrap4 .btn_wrap{margin:0 -5px;text-align:center;}
	.m6 .wrap4 .btn_wrap .btn{height:48px;line-height:46px;margin:0 5px;}
}

@media all and (max-width:768px){
	.show768{display:block !important;}
	.none768{display:none !important;}
	#mv .visual .bg{padding-bottom:56.25%;}
	#mv .visual .inner{position:relative;top:0;padding:30px 10px;background-color:#f4f4f4;}
	#mv .visual .txt_area{display:block;}
	#mv .visual .tit_wrap .tit{display:inline-block;padding:15px 15px 0;}
	#mv .visual .tit_wrap .tit:before,
	#mv .visual .tit_wrap .tit:after{width:19px;height:29px;}
	.m_tit_wrap .tit{padding:10px 10px 0 !important;}
	.m_tit_wrap .tit:before{width:20px;height:31px;background-size:100%;}
	.m_tit_wrap2{margin-bottom:30px;}
	.m1 .wrap{padding:30px 0;}
	.m1 .wrap .txt_wrap .tit{margin-bottom:10px;}
	.m1 .wrap .txt_wrap .txt{margin-bottom:5px;}
	.m1 .wrap .txt_wrap .name{margin-top:20px;}
	.m1 .wrap .txt_wrap .name img{height:60px;}
	.p200{padding:120px 0;}
	.m2 .wrap{margin:0 -10px -30px;}
	.m2 .wrap .con{padding:0 10px 30px;}
	.m2 .bot_img img{max-width:70%;}
	.m_slide{padding:50px 0 80px;}
	.m_slide .wrap #slide_wrap{padding:0 30px;}
	.m_slide .wrap .bx-wrapper .bx-controls-direction a{width:30px;}
	.m_slide .wrap .bx-wrapper .bx-controls-direction a.bx-prev{left:-30px;background-size:15px;}
	.m_slide .wrap .bx-wrapper .bx-controls-direction a.bx-next{right:-30px;background-size:15px;}
	.m5 .area .tit_wrap{min-width:98px;}
	.m6{margin-bottom:80px;}
	.m6 .wrap{padding:80px 0 20px;}
	.m6 .wrap .txt_wrap .txt_con{margin-top:10px;padding:0 12px;height:34px;}
	.m6 .wrap .txt_wrap .tit{line-height:32px;margin-right:5px;}
	.m6 .wrap .txt_wrap .num{line-height:32px;}
	.m6 .wrap3{border-bottom:0;}
	.m6 .wrap3 .con{width:100%;border-bottom:1px solid #d9d9d9;}
	.m6 .wrap3 .txt_wrap{min-height:0;}
	.m6 .wrap4 .btn_wrap .btn{width:auto;padding:0 20px;}
}

@media all and (max-width:486px){
	.show486{display:block !important;}
	.none486{display:none !important;}
	.p200{padding:80px 0;}
	.m2 .wrap{margin:0 -5px -20px;}
	.m2 .wrap .con{width:50%;padding:0 5px 20px;}
	.m5 .area .tit_wrap{min-width:88px;}
	.m6 .wrap{padding:50px 0 20px;}
}